{% extends "base.html"%}

{% block title %}
LawTech Blog
{% endblock title%}

{% block content %}
      <div class="row light_div rounded page_heading">
          <div class=" col-md-12">
            <h1>LawTech Blog</h1>
				<p class="intro">Here are my blog posts. They need some attention but are reading from a list.</p>
    		</div>

    		</div>

    		<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
    {% for blog_post in blog_posts %}
      <a class="list-group-item list-group-item-action" id="list-{{ blog_post.hook }}-list" data-toggle="list" href="#list-{{ blog_post.hook }}" role="tab" aria-controls="home">{{ blog_post.title }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
    {% for blog_post in blog_posts %}
      <div class="tab-pane fade show active" id="list-{{ blog_post.hook }}" role="tabpanel" aria-labelledby="list-{{ blog_post.hook }}-list">
  			<h1>{{ blog_post.title }}</h1>
  	      <p>{{ blog_post.date }}</p>
        	<p>{{ blog_post.intro }}</p>
			</div>
	{% endfor %}
    </div>
  </div>

  {% endblock content %}
